<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.mirman.cartomation.chromewatch</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/chromewatch</string>
        <string>student</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/student/Library/Application\ Support/Google/Chrome</string>
    </array>
</dict>
</plist>